/* 
  Variáveis para cores:
  --fundo-principal
  --texto
  --texto-inverso
  --destaque
  --destaque-inverso
  --fundo-card
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: #ffffff;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: #ffffff;
} /*propriedade root para utilização de variaveis para estilizar o portifolio com seleção de cores*/

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex; /*display flexivel*/
  justify-content: flex-end; /*itens do menu do lado direito da propriedade nav e centralizados conforme abaixo descrito em codigo*/
  align-content: center;
  position: sticky; /*opção para deixar a barra de menu fixa para rolagem*/
  top: 0;/*opção de ajuste final para fichar a barra do menu durante scroll(descida da pagina)*/
  z-index: 1; /*essa propriedade faz com que o iframe, arquivo de video do youtube, passe por dentro da barra ao efetuar scroll para visualizar a pagina, propriedade 0 deixa o iframe passando por fora, recomendado usar a partir do 1*/

}

nav#menu ul {
  list-style: none; /*removido sublinhamento dos itens*/
  display: flex;/*display flexivel*/
  gap: 10px;/*espaçamento das linhas*/
}

nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.5s ;
}

nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

main {
  display: grid; /*formato de grade para adaptação em celular*/
  grid-template-columns: auto 90vw auto; /*colunas auto são pequenos espaçamentos para o conteudo nao ficar colado*/
  gap: 20px;
  margin-top: 20px; /*espaço para descolamento do header*/
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;/*espaçamento de 20px em torno da imagem*/
  border-radius: 8px;
  grid-column: 2; /*propriedade para o conteudo principal ficar no meio da propriedade grid-template-column descrita no conteudo main*/
}

section#ficha img.foto {
  width: 200px; /*largura*/
  aspect-ratio: 1/1; /*aspecto quadrado padrão muda conforme as medidas, é como formatos de uma foto*/
  object-fit: fill; /*comando para deixar a foto no formato padrão, o item overflow serve para otimizar caso o comando acima não funcionar*/
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--destaque);/*segunda borda*/
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0;
  font-size: 1.5em;
  text-align: left;
}

div#social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;
}

div#social a {
  color: var(--destaque);
  transition: color 0.5s;
}

div#social a:hover {
  color: var(--destaque-inverso);
} /*propriedade a e a:hover para estilizar ao clicar e encostar o mouse e tambem para não alterar a cor apos o clik nas redes sociais*/

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
  margin-bottom: 20px;
}

.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;/*formato de video deitado*/
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#skill-container .nome {
  font-weight: bold;
  color: var(--texto);
}

#skill-container .porcent {
  font-weight: bold;
  color: var(--destaque);
}

#skill-container .barra {
  width: 100%;
  height: 8px;
  background-color: var(--fundo-principal);
  border-radius: 4px;
}/*barra de dentro com ajuste de largura, altura e cor, conforme descrição da porcentagem que conforme identificado no style no html, determina a porcentagem real a ser acrescentada no final*/

#skill-container .progresso {
  height: 100%;
  background-color: var(--destaque);
  border-radius: 4px;
} /*barra de fora*/

#formacao-container {
  display: flex;/*inicialmente vai ficar com linhas de coluna*/
  flex-direction: column-reverse;/*ao aplicar essa propriedade aplica-se apenas uma coluna, revertendo as qualificações por ordem da atual*/
  gap: 20px;
}

#formacao-container .curso {
  background-color: var(--fundo-principal);
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  padding-left: 15px;
  transition: border-width 0.5s border-color 0.5s ;/*propriedade para deixar o hover suave ao encostar o mouse*/
}

#formacao-container .curso:hover {
  border-left-width: 15px;
  border-color: var(--destaque);
  cursor: pointer; /*cursor no formato de mao*/
}

#formacao-container .periodo {
  font-size: 0.8em;
  font-weight: bold;
  color: var(--texto);
}

#formacao-container .instituicao {
  font-size: 1.1em;
  color: var(--destaque-inverso);
}

#projeto-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}/*aba projetos tmabem elaborada no formato column reverse para que, os projetos recentes fiquem ao topo*/

#projeto-container .projeto {
  display: flex;
  flex-direction: column-reverse;
  gap: 15px;
  background-color: var(--fundo-principal);
  padding: 10px;
  border-radius: 8px;
  border-left: 5px solid var(--destaque-inverso);
  transition: border-width 0.5s border-color 0.5s ;
}

#projeto-container .projeto:hover {
  border-color: var(--destaque);
  border-left-width: 15px;
  cursor: pointer;
}

#projeto-container .foto {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  overflow: hidden;
  border-radius: 8px;
}

#projeto-container .titulo {
  color: var(--destaque);
  transition: color 0.5s;
}

#projeto-container .titulo:hover {
  color: var(--destaque-inverso);
} /*propriedade a e a:hover para estilizar ao clicar e encostar o mouse e tambem para não alterar a cor apos o clik nas redes sociais*/

footer {
  background-color: var(--destaque);
  color: var(--destaque-inverso);
  text-align: center;
  padding: 15px;
}

footer a {
  color: var(--texto-inverso);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: var(--destaque-inverso);
}

@media screen and (min-width: 768px) {
  main {
    grid-template-columns: auto 300px 1fr auto;
  }

  section#ficha {
    grid-column: 2 / 3;
    height: fit-content;/*propriedade height: fit-content defina que a altura de um elemento deve ajustar-se ao seu conteúdo interno, mas sem exceder os limites do seu conteúdo. É uma forma de garantir que o elemento ocupe o espaço necessário para o que contém, de maneira flexível e responsiva*/
    position: sticky;/*opção para deixar a barra de menu fixa para rolagem*/
    top: 65px;/*opção de ajuste final para fichar a ficha de apresentação durante scroll(descida da pagina)*/
  }

  section#detalhes {
    grid-column: 3 / 4;
  }

  #skill-container {
    grid-template-columns: 1fr 1fr;
  }

  #projeto-container .projeto {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  #projeto-container .projeto-info {
    max-width: 80%;
  }

  #projeto-container .foto {
    aspect-ratio: 1/1;
    max-width: 20%;
    max-height: 200px;
  }

} /*esta estrutura de desmenbramento da pagina acima de 768px ja estava calculada pelo instrutor desde o inicio do projeto*/